# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.spec
*.egg

# Virtual environment
venv/
.env/

# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/

# PyInstaller
*.manifest

# Logs
*.log
err.log
out.log
